body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnhover{
  background-color: transparent;
  border: 1px solid crimson;
  transition: background 0.5s;
  color: crimson;
}
.btnhover:hover{
    background-color: crimson;
    color: white;
    box-shadow: 0 0 1rem crimson;
}